{%  extends 'base.html' %}
{% block content1 %}
    <div class= "alert alert-info">
    <div class= "col-sm-4 com-sm-offset-4">
    <h1>{{title}}</h1>
     <form class='my-ajax-form' method="post" action="" enctype="multipart/form-data" action='.' data-url='{{ request.build_absolute_uri|safe }}'>
     {% csrf_token %}
     {{ form.as_p|safe }}
        
     <input type="submit" class="btn btn-default" value="{{ title }}"/>
    </form>
    </div>
    </div>

    <script>
    $(document).ready(function(){
        var $myForm = $('.my-ajax-form')
        $myForm.submit(function(event){
            event.preventDefault()
            var $formData = $(this).serialize()
            var $thisURL = $myForm.attr('data-url') || window.location.href // or set your own url
            $.ajax({
                method: "POST",
                url: $thisURL,
                data: $formData,
                success: handleFormSuccess,
                error: handleFormError,
            })
        })

        function handleFormSuccess(data, textStatus, jqXHR){
            console.log(data)
            console.log(textStatus)
            console.log(jqXHR)
            $myForm.reset(); // reset form data
        }

        function handleFormError(jqXHR, textStatus, errorThrown){
            console.log(jqXHR)
            console.log(textStatus)
            console.log(errorThrown)
        }
    })
</script>
{% endblock %}
