{%  extends 'base.html' %}
{% block content1 %}
<div class="alert alert-info">
    User : {{user}}<br/>
    SuperUser : {{user.is_superuser}}<br/>
    Staff : {{user.is_staff}}<br/>
    Active : {{user.is_active}}<br/>

    {% if user.is_staff %}
    <br>
    <!--<a href = "/register/">-->
    <a href="{% url 'loginapp:fillintheblank' %}">
        <button class="btn-default" style="align-self: center">
            Add user
        </button>
    </a>
    <!--<a href = "/users/">-->
    <a href="{% url 'loginapp:users' %}">
        <button class="btn-default" style="align-self: center">
            users
        </button>
    </a>

        <a href="{% url 'loginapp:password' user.id %}">
        <button class="btn-default" style="align-self: center">
            Change Password
        </button>
    </a>


    {% endif %}
</div>

{% endblock %}